/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* stylelint-disable*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}
html {
  line-height: 1
}
body {
  line-height: inherit
}
ol, ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */


/* begin normalize.css form styles */



button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"],


[type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}


progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}


[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* end normalize.css form styles */


/* ===== BASE STYLES ===== */


/*
  Setting type to a perfect fourth(3:4) modular scale
  http://www.modularscale.com/
*/

html {
  font-size: 1em;
  /*16px*/
  line-height: 1.2em;
  /*19.2px @ 16;*/
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
  background-size: cover;
  /* Generic*/
}

/*all em's are divided by new base 16*/

h1 {
  font-size: 1.777em;
  /*28.43px @ 16;*/
  line-height: 1.351em;
  /*38.4px @ 28.43px;*/
  font-family: inherit;
  text-align: center;
}
h2, h3 {
  font-size: 1.333em;
  /*21.328px @ 16;*/
  font-family: inherit;
  text-align: center;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #778899;
}
li a {
  text-decoration: none;
  color: #778899;
}

/* ======= Form =============*/

label, input {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
}

/* ===== RESPONSIVE MEDIA ===== */

img, audio, video {
  display: block;
  max-width: 100%;
}
.menu:hover {
  color: red;
  text-decoration: underline;
}
.title:hover {
  color: red;
  text-decoration: underline;
}
#toggle {
  position: relative;
  z-index: 1;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#toggle input {
  display: block;
  position: absolute;
  width: 44px;
  height: 22.4px;
  top: -2px;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}
#toggle input:checked~ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

/* ===== LAYOUT STYLES ===== */

#content {
  padding: 1.351em;
  /*38.4px @ 28.43px;*/
  margin: 2.2em auto;
  width: 50%;
  padding: 10px;
}
#login-form {
  background-color: #000;
  opacity: 0.7;
  border-radius: 0.9em;
  padding: 2.351em;
  /*38.4px @ 28.43px;*/
}
#input-pass {
  padding-top: 1em;
  padding-bottom: 1em;
}
#input-submit {
  padding-bottom: 1em;
}
#header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: 0.0625em 0.0625em 0.125em #000;
}
.hd {
  text-transform: uppercase;
  font-weight: bold;
}
footer {
  /*position: relative;*/
  text-align: center;
  background-color: #CC0000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.foot {
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}
table {
  border-spacing: 0.0625em;
  border-collapse: collapse;
  background-color: #D3D3D3;
  text-align: center;
  table-layout: fixed;
  */ width: /*100%;*/
  500px;
  word-wrap: break-word;
  */ border: 0.125em/*2px*/
  solid;
}
td, th {
  border: 0.0625em/*1px*/
  solid;
  padding: 0.0625em;
  display: table-cell;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}


/* ===== MODULAR STYLES ===== */

.forgot:hover {
  text-decoration: underline;
  color: #FF0000;
}
#submit:hover {
  background-color: #C0C0C0;
}
.error {
  color: red;
  /*border: 0.1em solid;
  border-radius: 0.1em;*/
}

/* ===== STATE STYLES ===== */


/* 3:4 */


/*3 + 4 = 7
500 / 9.6px = 52.08
3 x 52.08 = 156.24px Grid 1
4 x 52.08 = 208.32px Grid 2
768 / 9.6px = 80px
3 x 80px = 240px Grid 1
4 x 80px = 320px Grid 2
*/


/* 500px @ 16px for tablet/ipad scale */

@media screen and (min-width: 31.25em) {
  #login-form {
    width: 41.66%;
    /*156.24/500=0.3124, 208.32/500=0.4166*/
    margin-left: 25%;
  }
}

/* 768px @ 16px for tablet/ipad scale */

@media screen and (min-width: 48em) {
  html {
    font-size: 1.333em;
    /*21.328px @ 16px*/
    line-height: 1.1998em;
    /*25.59px @ 21.328px*/
  }
  #login-form {
    width: 31.24%;
    /*156.24/500=0.3124, 208.32/500=0.4166*/
    margin-left: 30%;
  }
}
nav {
  display: block;
}

/* Navigation */

nav {
  font-weight: 200;
}
.nav {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
}
.nav a {
  display: block;
  text-align: center;
  line-height: 1;
  padding: 0.556em 0.278em;
  background-color: #CC0000;
  color: white;
  border-bottom: 0;
}

/* ===== STATE STYLES ===== */

.nav a:hover {
  background-color: gray;
}
.test1 {
  padding: 2em;
}
.editbtn {
  padding: 5em;
}
#table1 {
  margin: 1em auto auto auto;
  padding: 1em;
}
.fall2016 {
  padding: 1.5em;
}
input.largerCheckbox {
  margin: auto;
  width: 30px;
  height: 30px;
}

/* netbook*/

@media screen and (min-width: 31em) {
  #login-form {
    width: 40%;
    margin-left: 25%;
  }
}

/*tablet scale */

@media screen and (min-width: 48em) {
  html {
    font-size: 1.333em;
    /*22px @ 16px*/
    line-height: 1.1998em;
  }
  #login-form {
    width: 30%;
    margin-left: 30%;
  }
}